.footer {
    text-align: center;
    background-color: $light-charcoal;
    bottom: 0;
    margin-top: 20px;


    p {
        margin-top: 10px;

        i {
            color: red;
        }
    }
}