@import '../mixins/mixins';
@import '../modules/variables';

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login_body {
    //background-image: url('https://dl.dropboxusercontent.com/s/126l5o9woivl3u8/GettyImages-500107419.mp4?dl=0');
    //background-size: cover;
    //background-repeat: no-repeat;

    @include vertical-center-flex(100vh);

    #login {
        .tagline {
            margin-bottom: 15px;
            text-align: center;
        }

        a {
            @include whiteButton($white);
        }

        form {
            button {
                @include whiteButton($white);
            }
        }
    }
}
