.secondaryNav {
    background: $dark-navy;
    padding-bottom: 15px;
    padding-top: 8px;
    text-align: center;
    a {
        margin-left: 5px;
        margin-right: 5px;
        @include whiteButton($white);
    }
}