<div  ng-controller="commentBox">
  <a class="btn btn-default" href="" ng-click="toggle()">Comment Form</a>
  <!-- <a class="btn btn-default" href="" ng-click="toggle($scope)">Comment Form</a> -->

    <div style="background-color: grey;" pageslide ps-open="checked" ps-speed="0.25">
    <div style="padding:20px; " >

    <div>Show all comments related to clicked article</div>
    <div>{{testComment}}</div>
    <input type="text" ng-model="userInputComment">
    <a class='btn btn-default' ng-click="submitComment(); refreshComment()">Submit</a>
    <a ng-click="toggle()" style="color:black" class="btn" >Close</a>
    </div>
  </div>
</div>


