<header class="navigation2 col-xs-12">
  <div class="logo col-xs-12 col-md-2">
    <img src="../../assets/icon.png">
    <p class="title">Legacy Owls</p>
  </div>
  <div class="heading col-xs-12 col-md-8">
    Virtual News
  </div>
  <div ng-controller="logoutController" class="logout col-xs-12 col-md-2">
    <a ng-click='logout()' class="btn btn-default">Logout</a>
  </div>
</header>

<div class="secondaryNav col-xs-12">
  <a class="btn btn-default" ng-disabled="disabled" href="#/latest">Latest</a>
  <a class="btn btn-default" ng-disabled="disabled" href="#/trending">Trending Stories</a>
  <a class="btn btn-default" ng-disabled="disabled" href="#/savedStory">Saved Stories</a>
</div>
<div  ng-controller="commentBox">
  <a class="btn btn-default" href="" ng-click="toggle()">Comment Form</a>
  <!-- <a class="btn btn-default" href="" ng-click="toggle($scope)">Comment Form</a> -->

    <div style="background-color: grey;" pageslide ps-open="checked" ps-speed="0.25">
    <div style="padding:20px; " >

    <div>Show all comments related to clicked article</div>
    <div>{{testComment}}</div>
    <input type="text" ng-model="userInputComment">
    <a class='btn btn-default' ng-click="submitComment(); refreshComment()">Submit</a>
    <a ng-click="toggle()" style="color:black" class="btn" >Close</a>
    </div>
  </div>
</div>

<footer class="footer col-xs-12">
  <p>Updated with <i class="fa fa-heart faa-pulse animated" aria-hidden="true"></i> by Astonishing Owls Inc. </p>
</footer>