//COLORS
$charcoal: #333333;
$light-charcoal: lighten($charcoal, 10%);
$white: #fff;
$light-charcoal: lighten($charcoal, 15%);
$teal: #00a8cc;
$navy: #000066;
$dark-navy: #000026;
$light-grey: #e5e5e9;

//FONTS
$canterbury: Canterbury;

//Media Queries
$mq-xs: "(max-width: 767px)";
$mq-sm: "(min-width: 768px) and (max-width: 991px)";
$mq-md: "(min-width: 992px) and (max-width: 1199px)";
$mq-lg: "(min-width: 1200px) and (max-width: 1599px)";
$mq-xlg: "(min-width: 1600px)";
