
h1 {
	font-family: avenir;
  color: black;
}

#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

ul.header {
  background-color: black;
  background: rgba(0, 0, 0, 0.7);
  padding: 0;
  margin: 15px;
  overflow: hidden;
  list-style-type: none;
	text-align: center;
  border-radius: 10px;
}

.links:hover {
	color:white;
}

.links:visited {
  color:white;
}

.newsLink:hover {
	color:white;
}

.newsLink:visited {
  color:white;
}

.links {
  display: block;
  float: left;
  color: black;
  font-size: 20px;
  font-family: avenir;
  text-decoration: none;
  text-align: center;
  padding: 10px 12px;
}
.newsLink {
  /*display: block;
  float: left;*/
  color: white;
  font-size: 40px;
  font-family: avenir;
  /*text-decoration: none;*/
  /*text-align: center;*/
  padding: 10px 12px;
}

.medium-photos {
 padding: 0;
 margin: 0;
 list-style: none;

 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;

 -webkit-flex-flow: row wrap;
 justify-content: space-around;
}

.medium-item {
  background: white;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.smallPhotos {
 padding: 0;
 margin: 0;
 list-style: none;
 display: flex;
 justify-content: center;
 -webkit-flex-flow: row wrap;
}

.smallPhotoItem {
 background: white;
 padding: 1px;
 width: 90px;
 height: 80px;
}
.smallPhotoItem { transition: all .1s ease-in-out; }
.smallPhotoItem:hover { transform: scale(2.4); }

.grow {
	transition: all .3s ease-in-out;
}
.grow:hover {
	 transform: scale(1.4);
	 z-index: 1;
	 border-radius: 10px;
	 border-color: white;
	 border-width: thick;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grow {
  position: relative;
  column-count: 4;
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
  /*width: 540px;*/
}
.grow img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.grow:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*container for large photos*/
div .largePhotos {
	padding: 3px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
/*individual large photo div*/
div .largePhoto {
	padding-left:5px;
	padding-right: 5px;
}

div .select {
	position:absolute;
	left:3px;
	/*float:left;*/
	width:10%
}
/*search bar for Large Photos*/
div input {
  width: 75%;
}
