
h1 {
	font-family: georgia, serif;
  color: black;
}

ul.header {
  background-color: #111;
  padding: 0;
  margin: 15px;
  overflow: hidden;
  list-style-type: none;
}
.links {
  display: block;
  float: left;
  color: white;
  font-size: 20px;
  font-family: georgia, serif;
  text-decoration: none;
  text-align: center;
  padding: 10px 12px;
}
.newsLink {
  /*display: block;
  float: left;*/
  color: white;
  font-size: 40px;
  font-family: georgia, serif;
  /*text-decoration: none;*/
  /*text-align: center;*/
  padding: 10px 12px;
}

.smallPhotos {
 padding: 0;
 margin: 0;
 list-style: none;
 display: flex;
 -webkit-flex-flow: row wrap;
}

.smallPhotoItem {
 background: white;
 padding: 1px;
 width: 90px;
 height: 80px;
}
.smallPhotoItem { transition: all .1s ease-in-out; }
.smallPhotoItem:hover { transform: scale(2.4); }

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.4); }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grow {
  position: relative;
  column-count: 4;
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
  /*width: 540px;*/
}
.grow img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.grow:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
