<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{photo.title}}</h4>
            </div>
            <div class="modal-body col-xs-12">
                <a href={{photo.url}} target="_blank">
                     <img class='showImg' ng-src={{photo.multimedia[3].url}} />
                </a>
                <p>{{photo.abstract}}</p>
                <p><i class="fa fa-thumbs-up faa-bounce animated" aria-hidden="true"></i> {{photo.likes}}</p>
                <a class='btn btn-default enabled' ng-show='!photo.saved' ng-click='saveStory()'>Save Story</a>
                <a class='btn btn-default disabled' ng-disabled='photo.saved' ng-show='photo.saved'>Saved</a>
                <a class='btn btn-default enabled' ng-show='!photo.liked' ng-click='like()'>Like</a>
                <a class='btn btn-default disabled' ng-disabled='photo.liked' ng-show='photo.liked'>Liked</a>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>