<header class="navigation2 col-xs-12">
  <div class="logo col-xs-12 col-md-2">
    <img src="../../assets/icon.png">
    <p class="title">Legacy Owls</p>
  </div>
  <div class="heading col-xs-12 col-md-8">
    Virtual News
  </div>
  <div ng-controller="logoutController" class="logout col-xs-12 col-md-2">
    <a ng-click='logout()' class="btn btn-default">Logout</a>
  </div>
</header>

<div class="secondaryNav col-xs-12">
  <a class="btn btn-default" ng-disabled="disabled" href="#/latest">Latest</a>
  <a class="btn btn-default" ng-disabled="disabled" href="#/trending">Trending Stories</a>
  <a class="btn btn-default" ng-disabled="disabled" href="#/savedStory">Saved Stories</a>
</div>

<div>
  <button ng-click="downloadTrendingArticles()">Download articles!</button>
</div>

<div ng-repeat='article in trendingArticles'>
  <a href={{article.articleData.url}} target="_blank">
   <img ng-src={{article.articleData.multimedia[3].url}} />
  </a>
  <div>
    <p>{{article.articleData.title}}</p>
    <p>{{article.articleData.byline}}</p>
    <p>Abstract: {{article.articleData.abstract}}</p>
    <p>Likes:  {{article.numberLikes}}</p>
  </div>
</div>

<footer class="footer col-xs-12">
  <p>Updated with <i class="fa fa-heart faa-pulse animated" aria-hidden="true"></i> by Astonishing Owls Inc. </p>
</footer>