<header class="navigation col-xs-12">
  <div ng-controller="logoutController" class="logout">
    <a ng-click='logout()' class="btn btn-default">Logout</a>
  </div>
</header>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div>
  <button ng-click="downloadTrendingArticles()">Download articles!</button>
</div>

  <div ng-repeat='($index, article) in trendingArticles'>
    <a href={{article.articleData.url}} target="_blank">
     <img ng-src={{article.articleData.multimedia[3].url}} />
    </a>
    <div>{{article.articleData.abstract}}</div>
    <div>Likes {{article.numberLikes}}</div>
  </div>