<header class="navigation col-xs-12">
  <div ng-controller="logoutController" class="logout">
    <a ng-click='logout()' class="btn btn-default">Logout</a>
  </div>
</header>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div>
  <button ng-click="downloadTrendingArticles()">Download articles!</button>
</div>

<div ng-repeat='article in trendingArticles'>
  <a href={{article.articleData.url}} target="_blank">
   <img ng-src={{article.articleData.multimedia[3].url}} />
  </a>
  <div>
    <p>{{article.articleData.title}}</p>
    <p>{{article.articleData.byline}}</p>
    <p>Abstract: {{article.articleData.abstract}}</p>
    <p>Likes:  {{article.numberLikes}}</p>
  </div>
</div>