@font-face {
    font-family: canterbury;
    src: url('../../assets/fonts/Canterbury.eot');
    src: url('../../assets/fonts/Canterbury.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Canterbury.woff2') format('woff2'),
    url('../../assets/fonts/Canterbury-Regular.woff') format('woff'),
    url('../../assets/fonts/Canterbury.ttf') format('truetype'),
    url('../../assets/fonts/Canterbury-Regular.svg#${regular-font}') format('svg');
}
