<header class="navigation2 col-xs-12">
  <div class="logo">
    <img src="../../assets/icon.png">
    <p class="title">Legacy Owls</p>
  </div>
  <div ng-controller="logoutController" class="logout">
    <a ng-click='logout()' class="btn btn-default">Logout</a>
  </div>
</header>

<div class="secondaryNav col-xs-12">
  <a class="btn btn-default" ng-disabled="disabled" href="#/latest">Latest</a>
  <a class="btn btn-default" ng-disabled="disabled" href="#/trending">Trending Stories</a>
  <a class="btn btn-default" ng-disabled="disabled" href="#/savedStory">Saved Stories</a>
</div>

<div>
  <button ng-click="downloadArticles()">Download articles!</button>
</div>

<div ng-repeat='article in savedArticles'>
  <a href={{article.url}} target="_blank">
   <img ng-src={{article.multimedia[3].url}} />
  </a>
  <div>
    <p>{{article.title}}</p>
    <p>{{article.byline}}</p>
    <p>Abstract: {{article.abstract}}</p>
  </div>
</div>