<header class="navigation col-xs-12">
  <div ng-controller="logoutController" class="logout">
    <a ng-click='logout()' class="btn btn-default">Logout</a>
  </div>
</header>


<div>
  <select ng-model='selectedOption' ng-change='getLatest()'>
    <option ng-repeat='option in options'>{{option}}</option>
  </select>
</div>

<div classname='largePhotos' ng-repeat='($index, photo) in photos'>
  <a className="show" href={{photo.url}} target="_blank">
   <img className='showImg' ng-src={{photo.multimedia[3].url}} />
  </a>
  <div className="reveal">{{photo.abstract}}</div>
  <button ng-click='saveStory($index)'>Save Story</button>
  <button ng-click='like($index)'>Like</button>
</div>